<h3 class="mb-3"> <%= @title %> </h3>

<div class="card mb-3" style="max-width: 800px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="https://storage.yandexcloud.net/notion-images/images/getImage%20(<%= @row["id"] %>).jpg" 
      class="img-fluid rounded-start" alt="...">
    </div>

    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= @row["post_title"] %></h5>
        <p class="card-text"><%= @row["post_body"] %></p>

        <p class="card-text">
          <small class="text-body-secondary">
            <%= "Создание: #{@row["created_date"]}" %><br>
            <%= "Обновление: ..." %>
          </small>
        </p>

      </div>
    </div>
  </div>
</div>

<h4>Комментарии:</h4 >

<form action="/details/<%= @row["id"] %>" method="POST">

  <div class="mb-3">
    <label class="form-label">Тест комментария</label>
    <textarea name="comment_body" class="form-control" rows="3" style="width: 400px; height: 200px">
    </textarea>
  </div>

  <button class="btn btn-primary" type="submit">Добавить комментарий</button>

</form>
<br>

<div class="card mb-3" style="max-width: 800px;">
    <div class="col-md-8">
      <div class="card-body">
        <% @comments.each do |comment| %>
        <p>
        <small class="text-body-secondary">
          <%= comment["created_date"] %>
        </small><br>
          <%= comment["comment_body"] %>
        </p>
        <% end %>
      </div>
    </div>
</div>